---
import {Icon} from 'astro-icon/components';
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Icons</title>
	</head>
	<body>
		<div id="wrapper">
			<h1>Astro Icons</h1>
			<hr>

			<div class="icon-container">
				<a href="google.com">
					<Icon name = "career" size = {100} />
				</a>
				
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa saepe quaerat illo consequatur illum necessitatibus iure, vitae nam magnam quis porro est officiis debitis odio explicabo sunt dolorum dicta. Sed, hic? Sit quasi amet labore tenetur dolore rerum, numquam tempore, animi non nulla veniam vero nesciunt ipsa. Cupiditate voluptatibus dolor nulla ut quaerat iste quam aliquid asperiores, necessitatibus quos hic ipsa deserunt laborum reiciendis voluptate incidunt nemo similique, quia fuga veniam animi ex a repellat aliquam. Repudiandae blanditiis rem, explicabo saepe minus a voluptatem nemo!
				</p>
			</div>
			<div class="icon-container">
				<a href="google.com">
					<Icon name = "dog" size = {100} />
				</a>

				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa saepe quaerat illo consequatur illum necessitatibus iure, vitae nam magnam quis porro est officiis debitis odio explicabo sunt dolorum dicta. Sed, hic? Sit quasi amet labore tenetur dolore rerum, numquam tempore, animi non nulla veniam vero nesciunt ipsa. Cupiditate voluptatibus dolor nulla ut quaerat iste quam aliquid asperiores, necessitatibus quos hic ipsa deserunt laborum reiciendis voluptate incidunt nemo similique, quia fuga veniam animi ex a repellat aliquam. Repudiandae blanditiis rem, explicabo saepe minus a voluptatem nemo!
				</p>
			</div>

			<div class="icon-container">
				<a href="google.com">
					<Icon name = "heart" size = {100} />
				</a>

				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa saepe quaerat illo consequatur illum necessitatibus iure, vitae nam magnam quis porro est officiis debitis odio explicabo sunt dolorum dicta. Sed, hic? Sit quasi amet labore tenetur dolore rerum, numquam tempore, animi non nulla veniam vero nesciunt ipsa. Cupiditate voluptatibus dolor nulla ut quaerat iste quam aliquid asperiores, necessitatibus quos hic ipsa deserunt laborum reiciendis voluptate incidunt nemo similique, quia fuga veniam animi ex a repellat aliquam. Repudiandae blanditiis rem, explicabo saepe minus a voluptatem nemo!
				</p>
			</div>

			<div class="icon-container">
				<a href="google.com">
					<Icon name = "cactus" size = {100} />
				</a>

				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa saepe quaerat illo consequatur illum necessitatibus iure, vitae nam magnam quis porro est officiis debitis odio explicabo sunt dolorum dicta. Sed, hic? Sit quasi amet labore tenetur dolore rerum, numquam tempore, animi non nulla veniam vero nesciunt ipsa. Cupiditate voluptatibus dolor nulla ut quaerat iste quam aliquid asperiores, necessitatibus quos hic ipsa deserunt laborum reiciendis voluptate incidunt nemo similique, quia fuga veniam animi ex a repellat aliquam. Repudiandae blanditiis rem, explicabo saepe minus a voluptatem nemo!
				</p>
			</div>

			<div class="icon-container">
				<a href="google.com">
					<Icon name = "devil" size = {100} />
				</a>

				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa saepe quaerat illo consequatur illum necessitatibus iure, vitae nam magnam quis porro est officiis debitis odio explicabo sunt dolorum dicta. Sed, hic? Sit quasi amet labore tenetur dolore rerum, numquam tempore, animi non nulla veniam vero nesciunt ipsa. Cupiditate voluptatibus dolor nulla ut quaerat iste quam aliquid asperiores, necessitatibus quos hic ipsa deserunt laborum reiciendis voluptate incidunt nemo similique, quia fuga veniam animi ex a repellat aliquam. Repudiandae blanditiis rem, explicabo saepe minus a voluptatem nemo!
				</p>
			</div>
		</div>
	</body>
</html>
